body{
    background-color: #0d1b2a;
    color: #e0e1dd;
    font-family: 'Arial', sans-serif;
}

nav a{
    color: #778da9;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
}

section p a {
    color: #f0a500;
    text-decoration: none;
}

button {
    background-color: #0096c7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #0096c7;
}

footer {
    background-color: #1b263b;
    color: #e0e1dd;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

main section img {
    border-radius:45%;
}